@(value: java.lang.Long,countLike: java.lang.Long)
    @** @(persons: List[entity.person.Person], artists: List[entity.person.Artist], allValues: java.util.List[java.lang.Long]) **@

    @main("All persons") {
        @**
        <h2>All persons</h2>
        @for(p <- persons) {
        // PATTERN MATCHING
        @p match {
        case p: Artist => {
        <p> @p.getName is an artist</p>
        }
        case p: Doctor => {
        <p> @p.getName is a doctor</p>
        }

        }
        }

        <h2>All artists with some criterias</h2>

        @for(a <- artists) {
        <p> @a.getName is an Artist</p>
        }
        **@
        <h2>count per week</h2>

        <p> @value </p>

        <h2>artist X have @countLike likes</h2>
    }


